body {
  width: 800px;
  margin: 40px auto;
  font-family: sans-serif;
}

a,
a:visited {
  color: #08f;
  text-decoration: none;
}

a:hover,
a:active {
  color: #2af;
  text-decoration: underline;
}

ul {
  padding-left: 20px;
}

li {
  list-style: none;
}

.note {
  margin-top: 40px;
  font-size: 11px;
  color: #888;
}
